html,
body {
height: 100%;
}
body {
margin: 0 auto;
font-size: 16px;
font-family: "Arial", sans-serif;
color: white;
width: 100%;
}
html {
scroll-behavior: smooth;
}
a {
color: #9fc2c9;
text-decoration: none;
}
.wrapper {
position: relative;
display: flex;
flex-direction: column;
min-height: 100%;
background: #3c4955;
}
.content {
flex: 1 0 auto;
padding: 10px 15%;
}
.nav {
display: flex;
flex: 0 0 auto;
background-color: #6d7780;
position: sticky;
top: 0;
}
.nav__list {
display: flex;
justify-content: flex-end;
align-items: center;
flex-direction: row;
list-style-type: none;
min-width: 70%;
padding: 0 15%;
}
.nav__item {
    padding: 0 20px;
}
.nav__item a {
    transition: 0.3s;
}
.nav__item a:hover {
    color: white;
}
.footer {
height: 60px;
flex: 0 0 auto;
background-color: #6d7780;
}

.footer__contacts {
display: flex;
justify-content: space-around;
height: 100%;
align-content: center;
}
.flex {
display: flex;
}
.profile {
display: flex;
flex-direction: row;
justify-content: space-between;
}
.profile__title {
margin-bottom: 0;
font-size: 40px;
font-family: "lato", "Arial", sans-serif;
color: white;
}
.user {
border-style: hidden;
border-radius: 8px;
}
.user__img {
margin: 0 auto;
border-radius: 8px;
}
.contacts {
flex-basis: 50%;
}

.contacts__title {
font-size: 20px;
}
.contacts__item {
margin: 0;
margin-top: 10px;
display: block;
}
h2 {
margin-top: 50px;
padding: 10px;
font-size: 20px;
background-color: #6d7780;
border: 1px solid #6d7780;
border-radius: 8px;
}
.footer__item {
margin: auto;
}
@media (max-width: 768px) {
    .content {
        padding: 10px 5%;
    }
  }